.container {
  padding: 30px;
}

.list-item {
  width: 100%;
  background-color: lightgray;
  border: 1px solid lightslategray;
  border-radius: 10px;
  list-style: none;
  margin: 10px 0;
  padding: 10px;
}

.list {
  padding: 0;
}